*
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.dat
!*.yaml
!*.md
!*.pdf
!*.pfx
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*
!CMakeLists.txt

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so
!lib/**/*.xml
!lib/**/*.dtd
!static_data/*.txt

build/
cmake-build-debug/
